/* styles.css */
/* styles.css */

.card {
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    margin: 20px;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card-image {
    position: relative;
    overflow: hidden;
    max-height: 200px;
    border-radius: 8px 8px 0 0;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-teams {
    font-size: 14px;
    color: #71f371;
  }
  
  /* Media query para hacerlo responsive */
  @media (max-width: 768px) {
    .card {
      max-width: 100%;
    }
  }
  